language: android
android:
  components:
    # The BuildTools version used by your project
    - build-tools-21.0.1

    # The SDK version used to compile your project
    - android-21

# Emulator Management: Create, Start and Wait
before_script:
  - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &