{{#vendorExtensions.x-jroutine-core-instances}}  @com.github.dm.jrt.object.annotation.CoreInstances({{vendorExtensions.x-jroutine-core-instances}})
{{/vendorExtensions.x-jroutine-core-instances}}{{#vendorExtensions.x-jroutine-input-backoff}}  @com.github.dm.jrt.object.annotation.InputBackoff({{vendorExtensions.x-jroutine-input-backoff}})
{{/vendorExtensions.x-jroutine-input-backoff}}{{#vendorExtensions.x-jroutine-input-max-size}}  @com.github.dm.jrt.object.annotation.InputMaxSize({{vendorExtensions.x-jroutine-input-max-size}})
{{/vendorExtensions.x-jroutine-input-max-size}}{{#vendorExtensions.x-jroutine-input-order}}  @com.github.dm.jrt.object.annotation.InputOrder({{vendorExtensions.x-jroutine-input-order}})
{{/vendorExtensions.x-jroutine-input-order}}{{#vendorExtensions.x-jroutine-invocation-runner}}  @com.github.dm.jrt.object.annotation.InvocationRunner({{vendorExtensions.x-jroutine-invocation-runner}})
{{/vendorExtensions.x-jroutine-invocation-runner}}{{#vendorExtensions.x-jroutine-log-level}}  @com.github.dm.jrt.object.annotation.LogLevel({{vendorExtensions.x-jroutine-log-level}})
{{/vendorExtensions.x-jroutine-log-level}}{{#vendorExtensions.x-jroutine-log-type}}  @com.github.dm.jrt.object.annotation.LogType({{vendorExtensions.x-jroutine-log-type}})
{{/vendorExtensions.x-jroutine-log-type}}{{#vendorExtensions.x-jroutine-max-instances}}  @com.github.dm.jrt.object.annotation.MaxInstances({{vendorExtensions.x-jroutine-max-instances}})
{{/vendorExtensions.x-jroutine-max-instances}}{{#vendorExtensions.x-jroutine-output-backoff}}  @com.github.dm.jrt.object.annotation.OutputBackoff({{vendorExtensions.x-jroutine-output-backoff}})
{{/vendorExtensions.x-jroutine-output-backoff}}{{#vendorExtensions.x-jroutine-output-max-size}}  @com.github.dm.jrt.object.annotation.OutputMaxSize({{vendorExtensions.x-jroutine-output-max-size}})
{{/vendorExtensions.x-jroutine-output-max-size}}{{#vendorExtensions.x-jroutine-output-order}}  @com.github.dm.jrt.object.annotation.OutputOrder({{vendorExtensions.x-jroutine-output-order}})
{{/vendorExtensions.x-jroutine-output-order}}{{#vendorExtensions.x-jroutine-output-timeout}}  @com.github.dm.jrt.object.annotation.OutputTimeout(value = {{vendorExtensions.x-jroutine-output-timeout}}{{#vendorExtensions.x-jroutine-output-timeout-unit}}, unit = {{vendorExtensions.x-jroutine-output-timeout-unit}}{{/vendorExtensions.x-jroutine-output-timeout-unit}})
{{/vendorExtensions.x-jroutine-output-timeout}}{{#vendorExtensions.x-jroutine-output-timeout-action}}  @com.github.dm.jrt.object.annotation.OutputTimeoutAction({{vendorExtensions.x-jroutine-output-timeout-action}})
{{/vendorExtensions.x-jroutine-output-timeout-action}}{{#vendorExtensions.x-jroutine-output-timeout-action}}  @com.github.dm.jrt.object.annotation.OutputTimeoutAction({{vendorExtensions.x-jroutine-output-timeout-action}})
{{/vendorExtensions.x-jroutine-output-timeout-action}}{{#enableLoaders}}{{#vendorExtensions.x-jroutine-cache-strategy}}  @com.github.dm.jrt.android.object.annotation.CacheStrategy({{vendorExtensions.x-jroutine-cache-strategy}})
{{/vendorExtensions.x-jroutine-cache-strategy}}{{#vendorExtensions.x-jroutine-clash-resolution}}  @com.github.dm.jrt.android.object.annotation.ClashResolution({{vendorExtensions.x-jroutine-clash-resolution}})
{{/vendorExtensions.x-jroutine-clash-resolution}}{{#vendorExtensions.x-jroutine-invocation-id}}  @com.github.dm.jrt.android.object.annotation.InvocationId({{vendorExtensions.x-jroutine-invocation-id}})
{{/vendorExtensions.x-jroutine-invocation-id}}{{#vendorExtensions.x-jroutine-loader-id}}  @com.github.dm.jrt.android.object.annotation.LoaderId({{vendorExtensions.x-jroutine-loader-id}})
{{/vendorExtensions.x-jroutine-loader-id}}{{#vendorExtensions.x-jroutine-match-resolution}}  @com.github.dm.jrt.android.object.annotation.MatchResolution({{vendorExtensions.x-jroutine-match-resolution}})
{{/vendorExtensions.x-jroutine-match-resolution}}{{#vendorExtensions.x-jroutine-result-stale-time}}  @com.github.dm.jrt.android.object.annotation.ResultStaleTime(value = {{vendorExtensions.x-jroutine-result-stale-time}}{{#vendorExtensions.x-jroutine-result-stale-time-unit}}, unit = {{vendorExtensions.x-jroutine-result-stale-time-unit}}{{/vendorExtensions.x-jroutine-result-stale-time-unit}})
{{/vendorExtensions.x-jroutine-result-stale-time}}{{/enableLoaders}}{{#enableServices}}{{#vendorExtensions.x-jroutine-service-log}}  @com.github.dm.jrt.android.object.annotation.ServiceLog({{vendorExtensions.x-jroutine-service-log}})
{{/vendorExtensions.x-jroutine-service-log}}{{#vendorExtensions.x-jroutine-service-runner}}  @com.github.dm.jrt.android.object.annotation.ServiceRunner({{vendorExtensions.x-jroutine-service-runner}})
{{/vendorExtensions.x-jroutine-service-runner}}{{/enableServices}}