{{#vendorExtensions.x-jroutine-core-invocations}}  @com.github.dm.jrt.reflect.annotation.CoreInvocations({{vendorExtensions.x-jroutine-core-invocations}})
{{/vendorExtensions.x-jroutine-core-invocations}}{{#vendorExtensions.x-jroutine-input-backoff}}  @com.github.dm.jrt.reflect.annotation.InputBackoff({{vendorExtensions.x-jroutine-input-backoff}})
{{/vendorExtensions.x-jroutine-input-backoff}}{{#vendorExtensions.x-jroutine-input-max-size}}  @com.github.dm.jrt.reflect.annotation.InputMaxSize({{vendorExtensions.x-jroutine-input-max-size}})
{{/vendorExtensions.x-jroutine-input-max-size}}{{#vendorExtensions.x-jroutine-input-order}}  @com.github.dm.jrt.reflect.annotation.InputOrder(com.github.dm.jrt.core.config.ChannelConfiguration.OrderType.{{vendorExtensions.x-jroutine-input-order}})
{{/vendorExtensions.x-jroutine-input-order}}{{#vendorExtensions.x-jroutine-invocation-mode}}  @com.github.dm.jrt.reflect.annotation.InvocationMode(com.github.dm.jrt.core.config.InvocationConfiguration.InvocationModeType.{{vendorExtensions.x-jroutine-invocation-mode}})
{{/vendorExtensions.x-jroutine-invocation-mode}}{{#vendorExtensions.x-jroutine-log-level}}  @com.github.dm.jrt.reflect.annotation.LogLevel(com.github.dm.jrt.core.log.Log.Level.{{vendorExtensions.x-jroutine-log-level}})
{{/vendorExtensions.x-jroutine-log-level}}{{#vendorExtensions.x-jroutine-log-type}}  @com.github.dm.jrt.reflect.annotation.LogType({{vendorExtensions.x-jroutine-log-type}})
{{/vendorExtensions.x-jroutine-log-type}}{{#vendorExtensions.x-jroutine-max-invocations}}  @com.github.dm.jrt.reflect.annotation.MaxInvocations({{vendorExtensions.x-jroutine-max-invocations}})
{{/vendorExtensions.x-jroutine-max-invocations}}{{#vendorExtensions.x-jroutine-output-backoff}}  @com.github.dm.jrt.reflect.annotation.OutputBackoff({{vendorExtensions.x-jroutine-output-backoff}})
{{/vendorExtensions.x-jroutine-output-backoff}}{{#vendorExtensions.x-jroutine-output-max-size}}  @com.github.dm.jrt.reflect.annotation.OutputMaxSize({{vendorExtensions.x-jroutine-output-max-size}})
{{/vendorExtensions.x-jroutine-output-max-size}}{{#vendorExtensions.x-jroutine-output-order}}  @com.github.dm.jrt.reflect.annotation.OutputOrder(com.github.dm.jrt.core.config.ChannelConfiguration.OrderType.{{vendorExtensions.x-jroutine-output-order}})
{{/vendorExtensions.x-jroutine-output-order}}{{#vendorExtensions.x-jroutine-output-timeout}}  @com.github.dm.jrt.reflect.annotation.OutputTimeout(value = {{vendorExtensions.x-jroutine-output-timeout}}{{#vendorExtensions.x-jroutine-output-timeout-unit}}, unit = java.util.concurrent.TimeUnit.{{vendorExtensions.x-jroutine-output-timeout-unit}}{{/vendorExtensions.x-jroutine-output-timeout-unit}})
{{/vendorExtensions.x-jroutine-output-timeout}}{{#vendorExtensions.x-jroutine-output-timeout-action}}  @com.github.dm.jrt.reflect.annotation.OutputTimeoutAction(com.github.dm.jrt.core.config.ChannelConfiguration.TimeoutActionType.{{vendorExtensions.x-jroutine-output-timeout-action}})
{{/vendorExtensions.x-jroutine-output-timeout-action}}{{#vendorExtensions.x-jroutine-priority}}  @com.github.dm.jrt.reflect.annotation.Priority({{vendorExtensions.x-jroutine-priority}})
{{/vendorExtensions.x-jroutine-priority}}{{#vendorExtensions.x-jroutine-runner-type}}  @com.github.dm.jrt.reflect.annotation.RunnerType({{vendorExtensions.x-jroutine-runner-type}})
{{/vendorExtensions.x-jroutine-runner-type}}{{#enableLoaders}}{{#vendorExtensions.x-jroutine-cache-strategy}}  @com.github.dm.jrt.android.reflect.annotation.CacheStrategy(com.github.dm.jrt.android.core.config.LoaderConfiguration.CacheStrategyType.{{vendorExtensions.x-jroutine-cache-strategy}})
{{/vendorExtensions.x-jroutine-cache-strategy}}{{#vendorExtensions.x-jroutine-clash-resolution}}  @com.github.dm.jrt.android.reflect.annotation.ClashResolution(com.github.dm.jrt.android.core.config.LoaderConfiguration.ClashResolutionType.{{vendorExtensions.x-jroutine-clash-resolution}})
{{/vendorExtensions.x-jroutine-clash-resolution}}{{#vendorExtensions.x-jroutine-invocation-id}}  @com.github.dm.jrt.android.reflect.annotation.InvocationId({{vendorExtensions.x-jroutine-invocation-id}})
{{/vendorExtensions.x-jroutine-invocation-id}}{{#vendorExtensions.x-jroutine-loader-id}}  @com.github.dm.jrt.android.reflect.annotation.LoaderId({{vendorExtensions.x-jroutine-loader-id}})
{{/vendorExtensions.x-jroutine-loader-id}}{{#vendorExtensions.x-jroutine-match-resolution}}  @com.github.dm.jrt.android.reflect.annotation.MatchResolution(com.github.dm.jrt.android.core.config.LoaderConfiguration.ClashResolutionType.{{vendorExtensions.x-jroutine-match-resolution}})
{{/vendorExtensions.x-jroutine-match-resolution}}{{#vendorExtensions.x-jroutine-result-stale-time}}  @com.github.dm.jrt.android.reflect.annotation.ResultStaleTime(value = {{vendorExtensions.x-jroutine-result-stale-time}}{{#vendorExtensions.x-jroutine-result-stale-time-unit}}, unit = java.util.concurrent.TimeUnit.{{vendorExtensions.x-jroutine-result-stale-time-unit}}{{/vendorExtensions.x-jroutine-result-stale-time-unit}})
{{/vendorExtensions.x-jroutine-result-stale-time}}{{/enableLoaders}}{{#enableServices}}{{#vendorExtensions.x-jroutine-service-log}}  @com.github.dm.jrt.android.reflect.annotation.ServiceLog({{vendorExtensions.x-jroutine-service-log}})
{{/vendorExtensions.x-jroutine-service-log}}{{#vendorExtensions.x-jroutine-service-runner}}  @com.github.dm.jrt.android.reflect.annotation.ServiceRunner({{vendorExtensions.x-jroutine-service-runner}})
{{/vendorExtensions.x-jroutine-service-runner}}{{/enableServices}}