<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gh.bmd.jrt.android">

    <application
        android:name=".TestApp"
        android:label="@string/lib_name">
        <activity
            android:name="com.gh.bmd.jrt.android.core.TestActivity"
            android:label="test">
        </activity>
        <activity
            android:name="com.gh.bmd.jrt.android.v11.core.TestActivity"
            android:label="test">
        </activity>
        <activity
            android:name="com.gh.bmd.jrt.android.v11.core.RotationTestActivity"
            android:label="test">
        </activity>
        <activity
            android:name="com.gh.bmd.jrt.android.v4.core.TestActivity"
            android:label="test">
        </activity>
        <activity
            android:name="com.gh.bmd.jrt.android.v4.core.RotationTestActivity"
            android:label="test">
        </activity>

        <service
            android:name="com.gh.bmd.jrt.android.service.RoutineService"
            android:process=":remote"/>
        <service
            android:name="com.gh.bmd.jrt.android.core.TestService"
            android:process=":remote"/>
    </application>

</manifest>
