<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bmd.jrt.android">

    <application
        android:label="@string/lib_name">
        <activity
            android:name=".routine.TestActivity"
            android:label="test">
        </activity>
        <activity
            android:name=".v11.routine.TestActivity"
            android:label="test">
        </activity>
        <activity
            android:name=".v4.routine.TestActivity"
            android:label="test">
        </activity>

        <service
            android:name=".service.RoutineService"
            android:process=":remote"/>
    </application>

</manifest>
