<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dm.jrt.android.proxy">

    <application
        android:name=".app.TestApp"
        android:label="jroutine-androidproxy">
        <activity
            android:name="com.github.dm.jrt.android.proxy.core.TestActivity"
            android:label="test">
        </activity>
        <activity
            android:name="com.github.dm.jrt.android.proxy.v4.core.TestActivity"
            android:label="test">
        </activity>
        <activity
            android:name="com.github.dm.jrt.android.proxy.v11.core.TestActivity"
            android:label="test">
        </activity>

        <service
            android:name="com.github.dm.jrt.android.proxy.core.TestService"
            android:process=":remote"/>
    </application>

</manifest>
